useDynLib(gaga)



export( checkfit,

        checkfit.gagafit,

        classpred,

        classpred.gagafit,

        dcgamma,

        findgenes,

        findgenes.gagafit,

        fitGG,

        getpar,

        getpar.gagafit,

        mcgamma,

        parest,

        parest.gagafit,

        print.gagafit,

        rcgamma,

        simGG,

        simnewsamples,

        simnewsamples.gagafit,

        powclasspred,

        powclasspred.gagafit )

