useDynLib(gaga)

export( checkfit,

        classpred,

        dcgamma,

        findgenes,

        fitGG,

        forwsimDiffExpr,

        geneclus,

        getpar,

        mcgamma,

        parest,

        posmeansGG,

        rcgamma,

        simGG,

        simnewsamples,

        powclasspred,

        powfindgenes,

        seqBoundariesGrid,

	buildPatterns)

S3method(checkfit,gagafit)
S3method(classpred,gagafit)
S3method(findgenes,gagafit)
S3method(posmeansGG,gagafit)
S3method(getpar,gagafit)
S3method(geneclus,gagafit)
S3method(print,gagaclus)
S3method(print,gagahyp)
S3method(parest,gagafit)
S3method(powclasspred,gagafit)
S3method(print,gagafit)
S3method(simnewsamples,gagafit)

