useDynLib(gaga)

export( adjustfitNN, checkfit, classpred, dcgamma, findgenes, fitGG, fitNN, fitNNSingleHyp, forwsimDiffExpr, geneclus, getpar, mcgamma, parest, posmeansGG, powfindgenes, rcgamma, simGG, simLNN, simNN, simnewsamples, powclasspred, seqBoundariesGrid, buildPatterns, plotForwSim)

S3method(checkfit,gagafit)
S3method(classpred,gagafit)
S3method(findgenes,gagafit)
S3method(findgenes,matrix)
S3method(findgenes,nnfit)
S3method(forwsimDiffExpr,gagafit)
S3method(forwsimDiffExpr,nnfit)
S3method(posmeansGG,gagafit)
S3method(getpar,gagafit)
S3method(getpar,nnfit)
S3method(geneclus,gagafit)
S3method(print,gagaclus)
S3method(print,gagahyp)
S3method(parest,gagafit)
S3method(powclasspred,gagafit)
S3method(powfindgenes,gagafit)
S3method(powfindgenes,nnfit)
S3method(print,gagafit)
S3method(print,nnfit)
S3method(simnewsamples,gagafit)
S3method(simnewsamples,nnfit)

S3method(getpar,nnfit)
S3method(print,nnfit)
